    body{
                background-size: cover;
                background-attachment: fixed;
            }
            #dialogoverlay{
                display: none;
                opacity: 0.8;
                position: fixed;
                top: 0px;
                left: 0px;
                background: #195;
                width: 100%;
                z-index: 10;
            }

            #dialogbox{
                display: none;
                position: fixed;
                background: #444;
                border-radius: 10px;
                width: 550px;
                z-index: 10;
            }

            #dialogbox > div {
                background: #fff;
                margin: 8px;
            }

            #dialogbox > div > #dialogboxhead{
                background: #666;
                font-family: sans-serif;
                font-size: 20px;
                padding: 10px;
                color: #ccc;
            }

            #dialogbox > div > #dialogboxbody{
                background: #333;
                font-family: sans-serif;
                font-size: 20px;
                padding: 20px;
                color: #fff;
            }
                    
            #dialogbox > div > #dialogboxfoot{
                background: #666;
                font-family: sans-serif;
                font-size: 20px;
                padding: 10px;
                text-align: right;
            }
            #lin{
                border: none;
                outline: none;
                height: 40px;
                background-color: #fb2525;
                color: #fff;
                font-size: 25px;
                border-radius: 20px;
                width: 30%;
                transition: 0.5s;	
            }

            #lin:hover{	
                transition: 0.5s;
                background-color: orange;
                border-radius: 5px;
                color: black;
                width: 35%;
                height: 50px;
            }
            #input001{
                margin-left: 5px;
                margin-right: 5px;
                background: transparent;
                background-color: rgba(0, 0, 0, 0.479);
                border: 2px solid;
                border-color: grey;
                border-radius: 5px;
                width: 350px;
                position: absolute;
                top: 20%;
                left: 35%;
            }
            #input001:hover{
                border: 2px solid orange;
                padding: 2px;
                background-color: rgba(0 , 0 , 0 , 0.5);
                transition: 0.5s;
            }
            #input001[value]{
                font-family: Comic Sans MS;
                color: rgb(29, 214, 214);
                text-indent: 10px;
                font-size: 25px;
            }
            #button{
                padding: 5px;
                background-color: rgba(0 , 0 , 0 , 0.5);
                border: 1px solid grey;
                border-radius: 5px; 
                font-family: Segoe Print Regular;
                font-size: 20px;
                font-style: bold;
                color: gold;
                position: absolute;
                width: 130px;
                top: 30%;
                left: 43%;
            }
            #button:hover {
                color: #ffff00;
                background-color: rgba(0 , 0 , 0 , 0.7);
                border-radius: 5px;
                padding: 7px;
                position: absolute;
                top: 29%;
                transition: 0.5s;
            }
            fieldset{
                width: 700px;
                height: 350px;
                position: absolute;
                top: 40%;
                left: 23%;
                background-color: rgba(0 , 0 , 0 , 0.5);
                color: rgb(29, 214, 214);
                font-family: Comic Sans MS;
                font-size: 25px;
                border-top-right-radius: 40px;
                border: 1px solid grey;
            }
            legend{
                font-family: Consolas;
            }
            h1{
                color: gold;
                font-size: 43px;
                font-family: Impact;
                position: absolute;
                top: 3%;
                left: 42%;

        }
            #cancel{
                    padding: 5px;
                    background-color: rgba(0 , 0 , 0 , 0.5);
                    border: 1px solid grey;
                    border-radius: 5px; 
                    font-family: Segoe Print Regular;
                    font-size: 10px;
                    font-style: bold;
                    color: gold;
                }
            #cancel:hover {
                    color: #ffff00;
                    background-color: rgba(0 , 0 , 0 , 0.7);
                    border-radius: 5px;
                    padding: 7px;
                    transition: 0.5s;
                }

            .resert{
                    padding: 5px;
                    background-color: rgba(0 , 0 , 0 , 0.5);
                    border: 1px solid grey;
                    border-radius: 5px; 
                    font-family: Segoe Print Regular;
                    font-size: 20px;
                    font-style: bold;
                    color: gold;
                    float: right;
                }
            .resert:hover {
                    color: #ffff00;
                    background-color: rgba(0 , 0 , 0 , 0.7);
                    border-radius: 5px;
                    padding: 7px;
                    transition: 0.5s;
                }
            #a{
                border: none;
                outline: none;
                height: 40px;
                background-color: #fb2525;
                color: #fff;
                font-size: 25px;
                border-radius: 5px;
                width: 40px;
                transition: 0.5s;   
            }

            #a:hover{ 
                transition: 0.5s;
                background-color: orange;
                border-radius: 0px;
                color: black;
                width: 50px;
                height: 50px;
            }   
            #cls{
                color: #FFCA67FF;
            }
            #b{
                border: none;
                outline: none;
                height: 40px;
                background-color: #fb2525;
                color: #fff;
                font-size: 25px;
                border-radius: 5px;
                width: 40px;
                transition: 0.5s;   
            }

            #b:hover{ 
                transition: 0.5s;
                background-color: orange;
                border-radius: 0px;
                color: black;
                width: 50px;
                height: 50px;
            }
            #c{
                border: none;
                outline: none;
                height: 40px;
                background-color: #fb2525;
                color: #fff;
                font-size: 25px;
                border-radius: 5px;
                width: 40px;
                transition: 0.5s;   
            }

            #c:hover{ 
                transition: 0.5s;
                background-color: orange;
                border-radius: 0px;
                color: black;
                width: 50px;
                height: 50px;
            }
